<div id="page-heading">
		<div class="wrap">
			<h1 id="page-title">Teachers</h1>
		</div>
	</div>

<div class="container">
  <div class="row">
    <div class="col-lg-3">
      <div class="portfolio-cell ">
        <div class="portfolio-cell-thumb">
          <div class="portfolio-cell-bg"></div>
          <a class="portfolio-cell-view" routerLink="/teachers/stella">
            <i class="fa fa-eye"></i>
          </a>
          <a routerLink="/teachers/stella">
            <img src="../assets/img/teachers/stella.jpg" class="attachment-thumb-cell-small size-thumb-cell-small wp-post-image" alt="">																								
          </a>
        </div>
        <div class="portfolio-cell-data">
          <div class="portfolio-cell-title">
            <a routerLink="/teachers/stella">Stella</a>
          </div>
          <div class="portfolio-cell-categories"><a >Piano</a></div>
        </div>
      </div>		
    </div>

    <div class="col-lg-3">
      <div class="portfolio-cell ">
        <div class="portfolio-cell-thumb">
          <div class="portfolio-cell-bg"></div>
          <a class="portfolio-cell-view" routerLink="/teachers/allison">
            <i class="fa fa-eye"></i>
          </a>
          <a routerLink="/teachers/allison">
            <img src="../assets/img/teachers/allison.jpg" class="attachment-thumb-cell-small size-thumb-cell-small wp-post-image" alt="">																								
          </a>
        </div>
        <div class="portfolio-cell-data">
          <div class="portfolio-cell-title">
            <a routerLink="/teachers/allison">Allison Zema</a>
          </div>
          <div class="portfolio-cell-categories"><a >Singing</a></div>
        </div>
      </div>		
    </div>

    <div class="col-lg-3">
      <div class="portfolio-cell ">
        <div class="portfolio-cell-thumb">
          <div class="portfolio-cell-bg"></div>
          <a class="portfolio-cell-view" routerLink="/teachers/denean">
            <i class="fa fa-eye"></i>
          </a>
          <a routerLink="/teachers/denean">
            <img src="../assets/img/teachers/denean.jpg" class="attachment-thumb-cell-small size-thumb-cell-small wp-post-image" alt="">																								
          </a>
        </div>
        <div class="portfolio-cell-data">
          <div class="portfolio-cell-title">
            <a routerLink="/teachers/denean">Denean Dyson</a>
          </div>
          <div class="portfolio-cell-categories"><a >Singing</a></div>
        </div>
      </div>		
    </div>

    <div class="col-lg-3">
      <div class="portfolio-cell ">
        <div class="portfolio-cell-thumb">
          <div class="portfolio-cell-bg"></div>
          <a class="portfolio-cell-view" routerLink="/teachers/brittany">
            <i class="fa fa-eye"></i>
          </a>
          <a routerLink="/teachers/brittany">
            <img src="../assets/img/teachers/brittany.jpg" class="attachment-thumb-cell-small size-thumb-cell-small wp-post-image" alt="">																								
          </a>
        </div>
        <div class="portfolio-cell-data">
          <div class="portfolio-cell-title">
            <a routerLink="/teachers/brittany">Brittany Su</a>
          </div>
          <div class="portfolio-cell-categories"><a >Violin</a></div>
        </div>
      </div>		
    </div>
    
  </div>

  <!-- ROW 2 -->
  <div class="row">
    <div class="col-lg-3">
      <div class="portfolio-cell ">
        <div class="portfolio-cell-thumb">
          <div class="portfolio-cell-bg"></div>
          <a class="portfolio-cell-view" routerLink="/teachers/stephanie">
            <i class="fa fa-eye"></i>
          </a>
          <a routerLink="/teachers/stephanie">
            <img src="../assets/img/teachers/stephanie.jpg" class="attachment-thumb-cell-small size-thumb-cell-small wp-post-image" alt="">																								
          </a>
        </div>
        <div class="portfolio-cell-data">
          <div class="portfolio-cell-title">
            <a routerLink="/teachers/stephanie">Stephanie Hernandez</a>
          </div>
          <div class="portfolio-cell-categories"><a >Violin</a></div>
        </div>
      </div>		
    </div>

    <div class="col-lg-3">
      <div class="portfolio-cell ">
        <div class="portfolio-cell-thumb">
          <div class="portfolio-cell-bg"></div>
          <a class="portfolio-cell-view" routerLink="/teachers/steve">
            <i class="fa fa-eye"></i>
          </a>
          <a routerLink="/teachers/steve">
            <img src="../assets/img/teachers/steve.jpg" class="attachment-thumb-cell-small size-thumb-cell-small wp-post-image" alt="">																								
          </a>
        </div>
        <div class="portfolio-cell-data">
          <div class="portfolio-cell-title">
            <a routerLink="/teachers/steve">Steve Clar</a>
          </div>
          <div class="portfolio-cell-categories"><a >Guitar</a></div>
        </div>
      </div>		
    </div>

    <div class="col-lg-3">
      <div class="portfolio-cell ">
        <div class="portfolio-cell-thumb">
          <div class="portfolio-cell-bg"></div>
          <a class="portfolio-cell-view" routerLink="/teachers/ivan">
            <i class="fa fa-eye"></i>
          </a>
          <a routerLink="/teachers/ivan">
            <img src="../assets/img/teachers/ivan.jpg" class="attachment-thumb-cell-small size-thumb-cell-small wp-post-image" alt="">																								
          </a>
        </div>
        <div class="portfolio-cell-data">
          <div class="portfolio-cell-title">
            <a routerLink="/teachers/ivan">Ivan Dantas</a>
          </div>
          <div class="portfolio-cell-categories"><a >Violin</a></div>
        </div>
      </div>		
    </div>

    <div class="col-lg-3">
      <div class="portfolio-cell ">
        <div class="portfolio-cell-thumb">
          <div class="portfolio-cell-bg"></div>
          <a class="portfolio-cell-view" routerLink="/teachers/fatima">
            <i class="fa fa-eye"></i>
          </a>
          <a routerLink="/teachers/fatima">
            <img src="../assets/img/teachers/fatima.jpg" class="attachment-thumb-cell-small size-thumb-cell-small wp-post-image" alt="">																								
          </a>
        </div>
        <div class="portfolio-cell-data">
          <div class="portfolio-cell-title">
            <a routerLink="/teachers/fatima">Fatima Rizvi</a>
          </div>
          <div class="portfolio-cell-categories"><a >Singing</a></div>
        </div>
      </div>		
    </div>
    
  </div>

  <!-- ROW 3 -->
  <div class="row">
    <div class="col-lg-12">
      <div class="col-lg-3">
      <div class="portfolio-cell ">
        <div class="portfolio-cell-thumb">
          <div class="portfolio-cell-bg"></div>
          <a class="portfolio-cell-view" routerLink="/teachers/jeff">
            <i class="fa fa-eye"></i>
          </a>
          <a routerLink="/teachers/jeff">
            <img src="../assets/img/teachers/jeff.jpg" class="attachment-thumb-cell-small size-thumb-cell-small wp-post-image" alt="">																								
          </a>
        </div>
        <div class="portfolio-cell-data">
          <div class="portfolio-cell-title">
            <a routerLink="/teachers/jeff">Jeff O'Neal</a>
          </div>
          <div class="portfolio-cell-categories"><a >Singing</a></div>
        </div>
      </div>		
    </div>
    </div>
  </div>
</div>
