<div class="filter-options container AC">
  <form>
    <md-select placeholder="Filter Read" [(ngModel)]="readSelectedValue" name="read">
      <mat-option *ngFor="let r of readFilter" [value]="r.value" (click)="readFilterClicked(readSelectedValue)">
        {{r.viewValue}}
      </mat-option>
    </md-select>
  </form>
  <form>
    <md-select placeholder="Instruments" [(ngModel)]="instSelectedValue" name="instrument">
      <mat-option *ngFor="let instrument of instruments" [value]="instrument.value" (click)="filterClicked(instSelectedValue)">
        {{instrument.viewValue}}
      </mat-option>
    </md-select>
  </form>
  <div id="datePicker" class="form-group" *ngFor="let dateInput of dateInputs">
      <div class="input-group" daterangepicker [options]="{startDate:dateInput.start, endDate:dateInput.end }" (selected)="selectedDate($event, dateInput)" >
        <span class="form-control uneditable-input"  name="daterange" >
          {{ dateInput.start | date:'M/dd/y' }} - {{ dateInput.end| date:'M/dd/y' }}
        </span>
        <span class="input-group-btn">
          <a type="button" class="btn btn-default"><i class="glyphicon glyphicon-calendar"></i></a>
        </span>
      </div>
    </div>
</div>



<div class="message-container IL" 
*ngFor="let msg of signups | async | signupFilter:filterBy | readFilter:readFilterBy"
[style.borderColor]="msg.read ? 'green' : 'red'"
(click)="readClicked($event, msg)">
  <div class="contact-info">
    <div class="message-email">
        <span class="message-info">Email</span>: {{ msg.email }}
    </div>
    <div class="message-phone">
        <span class="message-info">Instrument</span>: {{ msg.instrument }}
    </div>
    <div class="message-date">
        <span class="message-info">Date</span>: {{ msg.date }}
    </div>
  </div>
  <div class="message-text">
      {{ msg.about }}
  </div>
  <div class="info-bottom">
      <div class="message-from">
          <span class="message-info">From</span>: {{ msg.name }}
      </div>
      <div class="message-read">
        <!-- <div class="message-read" (click)="msg.read = !msg.read"> -->
          <span class="message-info">Read</span>: {{ msg.read == false ? "No" : "Yes" }}
      </div>
  </div>
  
</div>