.livechat-container{
  width: 300px;
  min-height: 400px;
  /* height: 300px;   */
  position: fixed; 
  bottom: 0px;
  right: 20px;
  z-index: 9999;
  border:1px solid black;
  border-bottom: none;
  background-color:#e5e5e5;
  box-shadow: 0 4px 8px rgba(0,0,0,.25);
  border: 1px solid #e5e5e5;
}

.chat-icon {
    max-height: 25px;
    margin-left: -85px;
    margin-right: 45px;
}

.show-chat {
  padding: 5px;
  text-align: center;
  border-bottom: 1px solid black;
  cursor: pointer;
}

.info-form {
  padding:10px;
}

.chat-messages-container {
  overflow-y: scroll;
  height:290px;
}

.chat-info-right, .chat-info-left {
  font-size: 11px;
  margin-left: 11px;
  margin-top: 7px;
}

.chat-info-right {

}

.chat-info-left {

}

.chat-newMsg-container {
  position: absolute;
  bottom:0px;
  width:100%;
}

.chat-newMsg-container textarea {
  width: 100%;
  resize: none;
}

.speech-bubble-left, .speech-bubble-right {
  position: relative;
  background: #00aabb;
  border-radius: .4em;
  max-width: 85%;
  min-width: 30%;
  margin-left: 17px;
  display: inline-block;
  padding: 3px 10px;
}

.speech-bubble-right {
  background: #00cc00;
  right: -138px;
}

.speech-bubble-left:after {
	content: '';
  position: absolute;
  left: 0;
  top: 50%;
  width: 0;
  height: 0;
  border: 15px solid transparent;
  border-right-color: #00aabb;
  border-left: 0;
  border-bottom: 0;
  margin-top: -8.5px;
  margin-left: -14px;
}

.speech-bubble-right:after {
	content: '';
	position: absolute;
	right: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 15px solid transparent;
	border-left-color: #00cc00;
	border-right: 0;
	border-bottom: 0;
	margin-top: -8.5px;
	margin-right: -14px;
}