.teachers-select-container button {
  float:left;
  margin-right:15px;
}

.teachers-container {
  border: 1px dashed #1b6d85;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0px 3px 2px #888888;
  margin-bottom: 15px;
  margin-top: 15px;
}

.teacher {
  border: 2px solid #FF4500;
  border-radius: 5px;
  display: inline-block;
  padding: 5px;
  cursor: pointer;
  margin: 5px;
  font-weight: bold;
}

