.message-container {
  box-shadow: 4px 6px 10px #888;
  border: 2px solid black;
  border-radius: 5px;
  padding: 5px;
  margin: 10px;
  min-width: 32%;
  vertical-align: top;
  display: inline-block;
}

.message-email {
  float: left;
  margin-right: 10px;
}

.message-text {
  margin:10px;
  font-size:18px;
  font-family: Arial, Helvetica, sans-serif;
}

.message-phone {
  float:left;
  margin-right: 10px;
}

.message-date {
  float:right;
}

.message-from {
  float:left;
}

.message-read {
  float:right;
  cursor: pointer;
}

.message-info {
  font-weight: bold;
}

.contact-info {
  min-height: 20px;
}

@media only screen and (max-device-width:480px){
  .contact-info > div {
    float:none;
  }
  .message-container {
    width:90%;
  }
}