<div class="row">
  <div class="col-lg-6">
    <div class="chat-container">
      <div #scrollMe class="chat-messages-container">
      <div *ngFor="let msg of currentLiveChatMessages | async" [ngClass]="msg.fromAdmin ? 'bubble-right' : 'bubble-left'">
        <div [ngClass]="msg.fromAdmin ? 'chat-info-right' : 'chat-info-left'">
          {{ msg.dateTime  }}
        </div>
        <!-- <div [ngClass]="msg.fromAdmin ? 'speech-bubble-right' : 'speech-bubble-left'"> -->
        <div>
          <p>{{ msg.message }}</p>
        </div>
      </div>
    </div>
    <div class="chat-newMsg-container">
      <textarea name="newMsg" #newMsg cols="5" rows="3" (keydown.enter)="sendMessage(newMsg.value);newMsg.value = '';false"></textarea>
    </div>
    </div>
  </div>
  <div class="col-lg-6">
    <!-- <div class="filter-options container AC">
        <form>
          <md-select placeholder="Filter Active" [(ngModel)]="activeSelectedValue" name="active">
            <md-option *ngFor="let r of activeFilter" [value]="r.value" (click)="activeFilterClicked(activeSelectedValue)">
              {{r.viewValue}}
            </md-option>
          </md-select>
        </form>
        <div id="datePicker" class="form-group" *ngFor="let dateInput of dateInputs">
            <div class="input-group" daterangepicker [options]="{startDate:dateInput.start, endDate:dateInput.end }" (selected)="selectedDate($event, dateInput)" >
              <span class="form-control uneditable-input"  name="daterange" >
                {{ dateInput.start | date:'M/dd/y' }} - {{ dateInput.end| date:'M/dd/y' }}
              </span>
              <span class="input-group-btn">
                <a type="button" class="btn btn-default"><i class="glyphicon glyphicon-calendar"></i></a>
              </span>
            </div>
          </div>
      </div> -->
    <div class="active-livechats">
      <div class="livechat-container" *ngFor="let lc of activeLiveChats | async | activeFilter:activeFilterBy">
          <button md-icon-button [md-menu-trigger-for]="menu" (onMenuOpen)="setMenuLivechatKey(lc.key)" class="livechat-menu">
              <md-icon>add</md-icon>
            </button>
        <div class="livechat" (click)="setCurrentLiveChat(lc.key)">
          <span class="livechat-email">{{lc.email}}</span>
          <span class="livechat-time">{{lc.dateTime}}</span>
          <span class="livechat-name">{{lc.name}}</span>
          <div class="livehchat-first-message">{{lc.messages[0].message}}</div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- MENU -->
<md-menu #menu="mdMenu">
    <button md-menu-item (click)="markInactive()">
      <md-icon>check</md-icon>
      <span>Finished</span>
    </button>
    <button md-menu-item (click)="deleteLivechat()">
      <md-icon>delete_forever</md-icon>
      <span>Delete</span>
    </button>
  </md-menu>