<div class="filter-buttons">
  <button class="btn btn-lg btn-info" [class.active]="readFilterBy == all" (click)="readFilterClicked('all')">All Messages</button>
  <button class="btn btn-lg btn-info" [class.active]="readFilterBy == Unread" (click)="readFilterClicked('Unread')">Unread</button>
  <button class="btn btn-lg btn-info" [class.active]="readFilterBy == Read" (click)="readFilterClicked('Read')">Read</button>
  <button class="btn btn-lg btn-info" [class.active]="filterBy == all" (click)="filterClicked('all')">All Instruments</button>
  <button class="btn btn-lg btn-info" [class.active]="filterBy == Piano" (click)="filterClicked('Piano')">Piano</button>
  <button class="btn btn-lg btn-info" [class.active]="filterBy == Violin" (click)="filterClicked('Violin')">Violin</button> 
  <button class="btn btn-lg btn-info" [class.active]="filterBy == Guitar" (click)="filterClicked('Guitar')">Guitar</button> 
  <button class="btn btn-lg btn-info" [class.active]="filterBy == Singing" (click)="filterClicked('Singing')">Singing</button> 
  <button class="btn btn-lg btn-info" [class.active]="filterBy == Clarinet" (click)="filterClicked('Clarinet')">Clarinet</button> 
  <button class="btn btn-lg btn-info" [class.active]="filterBy == Drums" (click)="filterClicked('Drums')">Drums</button> 
  <button class="btn btn-lg btn-info" [class.active]="filterBy == Bass" (click)="filterClicked('Bass')">Bass</button> 
  <button class="btn btn-lg btn-info" [class.active]="filterBy == Saxophone" (click)="filterClicked('Saxophone')">Saxophone</button> 
  <button class="btn btn-lg btn-info" [class.active]="filterBy == Flute" (click)="filterClicked('Flute')">Flute</button> 
  <button class="btn btn-lg btn-info" [class.active]="filterBy == Cello" (click)="filterClicked('Cello')">Cello</button> 
  <button class="btn btn-lg btn-info" [class.active]="filterBy == Trumpet" (click)="filterClicked('Trumpet')">Trumpet</button> 
  <button class="btn btn-lg btn-info" [class.active]="filterBy == Ukulele" (click)="filterClicked('Ukulele')">Ukulele</button> 
</div>

<div class="message-container IL" 
*ngFor="let msg of signups | async | signupFilter:filterBy | readFilter:readFilterBy"
[style.borderColor]="msg.read ? 'green' : 'red'">
  <div class="contact-info">
    <div class="message-email">
        <span class="message-info">Email</span>: {{ msg.email }}
    </div>
    <div class="message-phone">
        <span class="message-info">Instrument</span>: {{ msg.instrument }}
    </div>
    <div class="message-date">
        <span class="message-info">Date</span>: {{ msg.date }}
    </div>
  </div>
  <div class="message-text">
      {{ msg.about }}
  </div>
  <div class="info-bottom">
      <div class="message-from">
          <span class="message-info">From</span>: {{ msg.name }}
      </div>
      <div class="message-read" (click)="readClicked($event, msg)">
        <!-- <div class="message-read" (click)="msg.read = !msg.read"> -->
          <span class="message-info">Read</span>: {{ msg.read == false ? "No" : "Yes" }}
      </div>
  </div>
  
</div>