<!-- TOP HEAD -->
<div class="hidden-sm hidden-xs AC">
  <div class="site-logo">
    <h1>
    <a class="logo-image" routerLink="/home">
      <img class="logo-normal" alt="Orange County Music School" src="../assets/img/music-logo.svg">
    </a>
    </h1>
  </div>
  <div class="cleared"></div>
</div>

<!-- NAV -->
<app-header></app-header>

<!-- ALERTS --> 
<app-alert></app-alert>
<app-alert-multi></app-alert-multi>

<div class="app-content">
  <router-outlet>
    <app-livechat></app-livechat>
  </router-outlet>
  <!-- <div id="back_top" style="display: block;"><i class="fa fa-angle-up"></i></div> -->
</div>

<div id="footer"></div>
<div id="footer-bottom">
  <div class="wrap">
    <div id="footer-copyright">
      <p style="text-align: left;">
        <a routerLink="/home">OCMS</a> ©&nbsp;2017 | All Rights Reserved • (714) 573-1449
      </p>			
    </div>
    <div id="footer-right">
      <a routerLink="/about">About</a>
      <a routerLink="/teachers">Teachers</a>
      <a routerLink="/testimonials">Testimonials</a>
      <a routerLink="/contact">Contact</a>
      <a *ngIf="!isLoggedIn;" routerLink="/login">Admin Login</a>
      <a *ngIf="isLoggedIn;" routerLink="/admin">Administration</a>
    </div>
    <div class="cleared"></div>
  </div>
  <div class="wrap AC">
      <a href="https://www.yelp.com/biz/orange-county-music-school-tustin"><img alt="Orange County Music School" src="https://dyn.yelpcdn.com/extimg/genericYelpBizButton.png" height="33" width="88"></a>
      <img class="home-footer-img" src="../assets/img/elite.png"/>
      <img class="home-footer-img" src="../assets/img/lessons.png"/>
  </div>
</div>

<!-- TEMPLATES -->
<ng-template #showProfile_content>
  <ul>
  <li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" routerLink="/profile">Profile
    <span class="caret-remade"></span></a>
    <ul class="dropdown-menu">
      <li *ngIf="currentUser.email === 'jacobus.anthony.harding@gmail.com' || currentUser.email === 'stellakotova@aol.com'">
        <a routerLink="/admin">Administration</a>
      </li>
      <li><a routerLink="/profile">View Profile</a></li>
      <li><a routerLink="/" (click)="logout()">Logout</a></li>
    </ul>
  </li>
</ul>
</ng-template>