<!-- TOP HEAD -->
<div class="wrap">
  <div class="site-logo">
    <h1>
    <a class="logo-image" routerLink="/home">
      <img class="logo-normal" alt="Orange County Music School" src="../assets/img/logo.jpg">
      <img class="logo-retina" alt="Music To Your Home" src="../assets/img/logo.jpg">
    </a>
    </h1>
  </div>

  <div class="header-sidebar">
    <div id="text-2" class="header-widget widget_text content">			
      <div class="textwidget"><strong>Call Us:</strong> - <a href="">(555) 555-5555</a>
      <br>
      <strong>Email Us:&nbsp;</strong><a href="">info@music.com</a>
      </div>
    </div> 						
    <div class="cleared"></div>
  </div>
  <div class="cleared"></div>
</div>

<!-- NAV -->
<div id="header-bar">
  <div class="wrap">
    <div id="toggle-menu-button"><i class="fa fa-align-justify"></i></div>
    <div id="main-menu-toggle" style="display: none;">
      <div class="wrap">
          <a routerLink="/home">Home</a>
          <a routerLink="/about">About</a>
          <a routerLink="/teachers">Teachers</a>
          <a routerLink="/testimonials">Testimonials</a>
          <a routerLink="/announcements">Announcements</a>
          <a routerLink="/faq">FAQ</a>
          <a routerLink="/contact">Contact</a>
          <a routerLink="/resources">Resources</a>
      </div>
    </div>

    <script>
      jQuery(document).ready(function(){
        jQuery('#toggle-menu-button').click(function(){
          jQuery("#main-menu-toggle").slideToggle(200);
        });
      });
    </script>

    <div class="main-menu">
      <div class="menu-main-menu-container">
        <ul id="menu-main-menu" class="menu">
          <li><a routerLink="/home">Home</a></li>
          <li><a routerLink="/about">About</a></li>
          <li><a routerLink="/teachers">Teachers</a></li>
          <li><a routerLink="/testimonials">Testimonials</a></li>
          <li><a routerLink="/announcements">Announcements</a></li>
          <li><a routerLink="/faq">FAQ</a></li>
          <li><a routerLink="/contact">Contact</a></li>
          <li> <a routerLink="/resources">Resources</a></li>
        </ul>
      </div>				
    <div class="cleared"></div>
    </div>
    <!-- End Main Menu -->
    <div class="header-social">
      <a target="_blank" href=""><i class="fa fa-facebook"></i></a>
      <a target="_blank" href=""><i class="fa fa-google-plus"></i></a>
      <a target="_blank" href=""><i class="fa fa-instagram"></i></a>
      <a target="_blank" href=""><i class="fa fa-twitter"></i></a>
      <div class="cleared"></div>
    </div>
    <div class="cleared"></div>
    <div class="cleared"></div>
  </div>
</div>

<div class="app-content">
  <router-outlet></router-outlet>
  <div id="back_top" style="display: block;"><i class="fa fa-angle-up"></i></div>
</div>

<div id="footer"></div>
<div id="footer-bottom">
			<div class="wrap">
				<div id="footer-copyright">
					<p style="text-align: left;">
            <a routerLink="/home">OCMS</a> ©&nbsp;2017 | All Rights Reserved • (646) 606-2515
          </p>			
        </div>
				<div id="footer-right">
          <a routerLink="/about">About</a>
          <a routerLink="/teachers">Teachers</a>
          <a routerLink="/testimonials">Testimonials</a>
          <a routerLink="/contact">Contact</a>
        </div>
				<div class="cleared"></div>
			</div>
		</div>