<ng-template #other> 
  <div class="AC">You're already logged in! No need to sign up again.</div>
</ng-template>

<div *ngIf="!isLoggedIn; else other">
<div class="col-md-6 col-md-offset-3">
  <h2>Make an Account</h2>
  <p>
    Are you a student? Or maybe just interested in learning more? Make an account below. With Google or Facebook.
    <p>
</div>

<div class="oauth-section container AC">
  <div class="row">
    <div class="col-lg-3 col-lg-offset-2">
      <div id="googleLoginButton" (click)="googleLogin()"></div>
    </div>
    <div class="col-lg-3 col-lg-offset-3">
       <img id="facebookLoginButton" (click)="facebookLogin()" src="assets/img/oauth/fb_button.png" class="img-responsive" width="44" />
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h4 class="AC">Or your email</h4>
      <form (ngSubmit)="saveUserEmailPassword()" #userForm="ngForm">
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" class="form-control" id="name" required
            [(ngModel)]="model.name" name="name"
            #name="ngModel">
          <div [hidden]="name.valid || name.pristine"
                class="alert alert-danger">
            Name is required
          </div>
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input type="text" class="form-control" id="email" required
            [(ngModel)]="model.email" name="email"
            #email="ngModel">
            <div [hidden]="email.valid || email.pristine"
                class="alert alert-danger">
            Email Name is required
          </div>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" id="password" required
            [(ngModel)]="model.password" name="password"
            #password="ngModel">
            <div [hidden]="password.valid || password.pristine"
                class="alert alert-danger">
            Password is required
          </div>
        </div>
        <div class="form-group">
          <label for="passwordConf">Password Confirmation</label>
          <input type="password" class="form-control" id="passwordConf" required
            [(ngModel)]="model.passwordConf" name="passwordConf"
            #passwordConf="ngModel"
            validateEqual="password">
            <div [hidden]="passwordConf.valid || passwordConf.pristine"
                class="alert alert-danger">
            Passwords must match
          </div>
        </div>
        <button type="submit" class="btn btn-success" [disabled]="!userForm.form.valid">Save</button>
      </form>
    </div>
  </div>
</div>

</div>

