<div id="page-heading">
		<div class="wrap">
			<h1 id="page-title">Teachers</h1>
		</div>
	</div>

<div class="portfolio-container AC"> 
  <div class="IL portfolio" *ngFor="let teacher of teachers | async">
    <div class="portfolio-cell">
      <div class="portfolio-cell-thumb">
        <div class="portfolio-cell-bg"></div>
        <a class="portfolio-cell-view" routerLink="/teachers/{{teacher.key}}">
          <!-- <i class="fa fa-eye"></i> -->
          &nbsp;
        </a>
        <a routerLink="/teachers/{{teacher.key}}">
          <img [src]="teacher.itemUrl" class="attachment-thumb-cell-small size-thumb-cell-small wp-post-image" alt="">																								
        </a>
      </div>
      <div class="portfolio-cell-data">
        <div class="portfolio-cell-title">
          <a routerLink="/teachers/{{teacher.key}}">{{teacher.name}}</a>
        </div>
        <div class="portfolio-cell-categories"><a routerLink="/instrument/{{teacher.instrument}}">{{teacher.instrument}}</a></div>
      </div>
    </div>		
  </div>
</div>

<!--   
<div class="container">
  <div class="row">
    <div class="col-lg-3">
      <div class="portfolio-cell ">
        <div class="portfolio-cell-thumb">
          <div class="portfolio-cell-bg"></div>
          <a class="portfolio-cell-view" routerLink="/teachers/1">
            <i class="fa fa-eye"></i>
          </a>
          <a routerLink="/teachers/1">
            <img src="../assets/img/teachers/stella.jpg" class="attachment-thumb-cell-small size-thumb-cell-small wp-post-image" alt="">																								
          </a>
        </div>
        <div class="portfolio-cell-data">
          <div class="portfolio-cell-title">
            <a routerLink="/teachers/1">Stella</a>
          </div>
          <div class="portfolio-cell-categories"><a >Piano</a></div>
        </div>
      </div>		
    </div>

    <div class="col-lg-3">
      <div class="portfolio-cell ">
        <div class="portfolio-cell-thumb">
          <div class="portfolio-cell-bg"></div>
          <a class="portfolio-cell-view" routerLink="/teachers/2">
            <i class="fa fa-eye"></i>
          </a>
          <a routerLink="/teachers/2">
            <img src="../assets/img/teachers/allison.jpg" class="attachment-thumb-cell-small size-thumb-cell-small wp-post-image" alt="">																								
          </a>
        </div>
        <div class="portfolio-cell-data">
          <div class="portfolio-cell-title">
            <a routerLink="/teachers/2">Allison Zema</a>
          </div>
          <div class="portfolio-cell-categories"><a >Singing</a></div>
        </div>
      </div>		
    </div>

    <div class="col-lg-3">
      <div class="portfolio-cell ">
        <div class="portfolio-cell-thumb">
          <div class="portfolio-cell-bg"></div>
          <a class="portfolio-cell-view" routerLink="/teachers/3">
            <i class="fa fa-eye"></i>
          </a>
          <a routerLink="/teachers/3">
            <img src="../assets/img/teachers/denean.jpg" class="attachment-thumb-cell-small size-thumb-cell-small wp-post-image" alt="">																								
          </a>
        </div>
        <div class="portfolio-cell-data">
          <div class="portfolio-cell-title">
            <a routerLink="/teachers/3">Denean Dyson</a>
          </div>
          <div class="portfolio-cell-categories"><a >Singing</a></div>
        </div>
      </div>		
    </div>

    <div class="col-lg-3">
      <div class="portfolio-cell ">
        <div class="portfolio-cell-thumb">
          <div class="portfolio-cell-bg"></div>
          <a class="portfolio-cell-view" routerLink="/teachers/4">
            <i class="fa fa-eye"></i>
          </a>
          <a routerLink="/teachers/4">
            <img src="../assets/img/teachers/brittany.jpg" class="attachment-thumb-cell-small size-thumb-cell-small wp-post-image" alt="">																								
          </a>
        </div>
        <div class="portfolio-cell-data">
          <div class="portfolio-cell-title">
            <a routerLink="/teachers/4">Brittany Su</a>
          </div>
          <div class="portfolio-cell-categories"><a >Violin</a></div>
        </div>
      </div>		
    </div>
    
  </div>

  <div class="row">
    <div class="col-lg-3">
      <div class="portfolio-cell ">
        <div class="portfolio-cell-thumb">
          <div class="portfolio-cell-bg"></div>
          <a class="portfolio-cell-view" routerLink="/teachers/5">
            <i class="fa fa-eye"></i>
          </a>
          <a routerLink="/teachers/5">
            <img src="../assets/img/teachers/stephanie.jpg" class="attachment-thumb-cell-small size-thumb-cell-small wp-post-image" alt="">																								
          </a>
        </div>
        <div class="portfolio-cell-data">
          <div class="portfolio-cell-title">
            <a routerLink="/teachers/5">Stephanie Hernandez</a>
          </div>
          <div class="portfolio-cell-categories"><a >Violin</a></div>
        </div>
      </div>		
    </div>

    <div class="col-lg-3">
      <div class="portfolio-cell ">
        <div class="portfolio-cell-thumb">
          <div class="portfolio-cell-bg"></div>
          <a class="portfolio-cell-view" routerLink="/teachers/6">
            <i class="fa fa-eye"></i>
          </a>
          <a routerLink="/teachers/6">
            <img src="../assets/img/teachers/steve.jpg" class="attachment-thumb-cell-small size-thumb-cell-small wp-post-image" alt="">																								
          </a>
        </div>
        <div class="portfolio-cell-data">
          <div class="portfolio-cell-title">
            <a routerLink="/teachers/6">Steve Clar</a>
          </div>
          <div class="portfolio-cell-categories"><a >Guitar</a></div>
        </div>
      </div>		
    </div>

    <div class="col-lg-3">
      <div class="portfolio-cell ">
        <div class="portfolio-cell-thumb">
          <div class="portfolio-cell-bg"></div>
          <a class="portfolio-cell-view" routerLink="/teachers/7">
            <i class="fa fa-eye"></i>
          </a>
          <a routerLink="/teachers/7">
            <img src="../assets/img/teachers/ivan.jpg" class="attachment-thumb-cell-small size-thumb-cell-small wp-post-image" alt="">																								
          </a>
        </div>
        <div class="portfolio-cell-data">
          <div class="portfolio-cell-title">
            <a routerLink="/teachers/7">Ivan Dantas</a>
          </div>
          <div class="portfolio-cell-categories"><a >Violin</a></div>
        </div>
      </div>		
    </div>

    <div class="col-lg-3">
      <div class="portfolio-cell ">
        <div class="portfolio-cell-thumb">
          <div class="portfolio-cell-bg"></div>
          <a class="portfolio-cell-view" routerLink="/teachers/8">
            <i class="fa fa-eye"></i>
          </a>
          <a routerLink="/teachers/8">
            <img src="../assets/img/teachers/fatima.jpg" class="attachment-thumb-cell-small size-thumb-cell-small wp-post-image" alt="">																								
          </a>
        </div>
        <div class="portfolio-cell-data">
          <div class="portfolio-cell-title">
            <a routerLink="/teachers/8">Fatima Rizvi</a>
          </div>
          <div class="portfolio-cell-categories"><a >Singing</a></div>
        </div>
      </div>		
    </div>
    
  </div>

  <div class="row">
    <div class="col-lg-12">
      <div class="col-lg-3">
      <div class="portfolio-cell ">
        <div class="portfolio-cell-thumb">
          <div class="portfolio-cell-bg"></div>
          <a class="portfolio-cell-view" routerLink="/teachers/9">
            <i class="fa fa-eye"></i>
          </a>
          <a routerLink="/teachers/9">
            <img src="../assets/img/teachers/jeff.jpg" class="attachment-thumb-cell-small size-thumb-cell-small wp-post-image" alt="">																								
          </a>
        </div>
        <div class="portfolio-cell-data">
          <div class="portfolio-cell-title">
            <a routerLink="/teachers/9">Jeff O'Neal</a>
          </div>
          <div class="portfolio-cell-categories"><a >Singing</a></div>
        </div>
      </div>		
    </div>
    </div>
  </div>
</div> -->
