.root1Class { color: blue }
.root2Class { color: red }


.node-content-wrapper, .tree-children {
  position: relative;
}

.node-content-wrapper::before, .tree-children::after {
  content: "";
  position: absolute;
}

.node-content-wrapper::before {
  border-bottom: 1px solid lightgrey;
  border-left: 1px solid lightgrey;
  height: 28px;
  top: -17px;
  width: 20px;
  left: -28px;
}

.tree-node-leaf > .node-wrapper > .node-content-wrapper::before {
  width: 25px;
}

.tree-children::after {
  border-left: 1px solid lightgrey;
  height: 100%;
  top: -15px;
  left: -15px;
}

treenode:last-child > .tree-node > .tree-children::after {
  border-left: none;
}

.toggle-children {
  z-index: 1;
}



/* AVAILABLE STYLINGS */
/*
.angular-tree-component
.angular-tree-component-rtl
.tree-node
.tree-node-wrapper
.tree-node-expanded
.tree-node-collapsed
.tree-node-focused
.tree-node-active
.tree-node-level-X
.tree-node-leaf
.node-wrapper
.toggle-children-wrapper
.toggle-children
.toggle-children-placeholder
.node-content-wrapper
.tree-children
.tree-node-loading
.node-drop-slot
.is-dragging-over
.is-dragging-over-disabled
*/