@import "~@angular/material/prebuilt-themes/indigo-pink.css";

/*HELPERS*/
.AC {
    text-align: center;
}

.mL15 {
    margin-left: 15px;
}

.mB15 {
  margin-bottom:15px;
}

*, p {
	font-size:16px;
}

.IL {
  display: inline-block;
}
.row {
	margin:0px !important;
}

.has-success {
  border-color: #5cb85c  !important;
}

.has-danger {
  border-color: #d9534f !important;
}

html, body{
  height:100%;
}

 html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;

}

.app-content {
  min-height: 71%;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	-webkit-text-size-adjust: 100%;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

b,strong{
	font-weight:bold;
}

em{
	font-style:italic;
}

a{
	text-decoration:none;
}

img{
	max-width:100%;
}

*:focus {
    outline: none;
}

/* ignore ios input style */

input,textarea{
    -webkit-appearance: none;
    -webkit-border-radius:0;
    border-radius:0;
}

/* common element */
.cleared{
	clear:both;
}

.hidden{
	display:none;
}

.wrap{
	width:1100px;
	margin:0 auto;
}

.no-wrap .wrap-no-fullwidth{
	width:1100px;
	margin:0 auto;
}

.callout-wrap{
	margin:0 auto;
	width:1100px;
}

.no-wrap .content-column1 .quote-block-wrap{
	width:1100px;
	margin:0 auto;
}

.wrap-column{
	width:1140px;
	margin:0 auto;
}

/* CONTENT SECTIONS */
.content-section{
	position:relative;
	overflow:hidden;
}

.content-section-heading{
	margin:40px;
	text-align:center;
}

.content-section .wrap,.content-section .wrap-column{
	position:relative;
	z-index:3;
}

.content-section-line span {
    background-color: rgba(0,0,0,0.025);
    border-bottom: 1px solid rgba(0,0,0,0.1);
    border-top: 1px solid rgba(0,0,0,0.1);
}

h1.content-section-title{
	margin:0px 0px 0px 0px;
	padding:0px 0px 10px 0px;
	font-weight:auto;
}

h2.content-section-subtitle{
	padding:0px 0px 0px 0px;
	margin:0px 0px 5px 0px;
    font-family: 'PT Serif',Arial !important;
    font-size: 24px;
    line-height: 30px;
    font-weight: 400;
    font-style: italic;
}

.section-widget-heading{
	margin-bottom:0px;
}

.content-section-line{
	text-align:center;
}

.content-section-line span{
	display:inline-block;
	width:200px;
	height:4px;
}

.content-section .widget-entry:last-child{
	margin-bottom:0px;
}

/* icon box */
.icon-box{
	margin-bottom:40px;
}

.icon-box-center{
	text-align:center;
}

.icon-box-horizontal.icon-box-center{
	text-align:left;
}

.icon-type-font,.icon-type-font i , .icon-box-link a{
	transition: all 200ms ease-out; /*safari and chrome */
	-webkit-transition: all 200ms ease-out; /*safari and chrome */
}

.icon-box-name{
	margin-bottom:15px;
}

.icon-box-content p:last-child{
	padding-bottom:0px;
}

.icon-box-link a {
    font-family: 'Lato',Arial !important;
    font-size: 14px;
    line-height: 24px;
	padding: 7px 30px;
	border-radius: 5px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
}

.icon-box-link a {
    background-color: #3498db;
    color: white;
    border: 1px solid #3498db;
    box-shadow: 0px 0px 0px rgba(0,0,0,0.1);
}

.icon-box-link a:hover {
    background-color: #3498db;
    color: white;
    border: 1px solid #3498db;
    box-shadow: 0px 0px 0px rgba(0,0,0,0.1);
	text-decoration: none;
}

/* icon type image */
.icon-box-icon .icon-type-image{
	padding:0px;
	width:auto !important;
	height:auto !important;
}

.icon-box-name .icon-type-image{
	padding:0px;
	max-width:28px;
	width:28px !important;
	height:28px !important;
	vertical-align:-6px;
	margin-right:5px;
}

.icon-box-name .icon-type-image img{
	max-width:28px;
}

/* image hover retina icon */

.icon-box-icon .icon-box-image,
.icon-box-name .icon-box-image{
	display:inline-block;
}

.icon-box-icon .icon-box-image-hover,
.icon-box-name .icon-box-image-hover{
	display:none;
}

.icon-box-icon:hover .icon-box-image-hover,
.icon-box-name:hover .icon-box-image-hover{
	display:inline-block;
}

.icon-box-icon:hover .icon-box-image,
.icon-box-name:hover .icon-box-image{
	display:none;
}

/* icon size big */
.icon-box-icon{
	line-height:0px;
	font-size:0px;
}

.icon-box-icon .icon-type-font,
.icon-box-icon .icon-type-image{
	margin-bottom:25px;
}

.icon-type-font{
	border-radius:50%;
	display:inline-block;
	text-align:center;
}

.icon-type-font i{
	font-size:30px;
	line-height:80px;
	display:inline-block;
	width:78px;
	height:78px;
	text-align:center;
	border-radius:50%;
}

/* icon size small */

.icon-box-name .icon-type-font{
	display:inline-block;
	text-align:center;
	margin-right:5px;
	border-radius:50%;
}

.icon-box-name i{
	font-size:14px;
	line-height:24px;
	width:24px;
	height:24px;
	padding-left:0px;
}

/* icon vertical */
.icon-box-left{
	width:50px;
	float:left;
	padding-top:5px;
}

.icon-box-left .icon-box-icon{
	width:50px;
	float:left;

}

.icon-box-left .icon-type-font i{
	font-size:24px;
	line-height:50px;
	display:inline-block;
	width:48px;
	height:48px;
	text-align:center;
	border-radius:50%;
}

.icon-box-right{
	margin-left:50px;
	padding-left:25px;
}

.icon-box-left .icon-box-icon{
	margin-bottom:0px;
}

.icon-box-horizontal{
	margin-bottom:30px;

}

/* typography */
pre{
	padding:10px 20px;
    white-space: pre-wrap;       /* CSS 3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}


blockquote{
	margin:0px 0px 20px 0px;
	padding:10px 0px 10px 65px;
	position:relative;
}

blockquote i.fa{
	position:absolute;
	left:0px;
	top:50%;
	margin-top:-24px;
	width:48px;
	height:48px;
	border-radius:50%;
	text-align:center;
}

blockquote p:last-child{
	padding-bottom:0px;
}

/* button */
.content .small-button,
.content a.small-button{
	padding:6px 10px;
	margin-bottom:10px;
	margin-right:10px;
	display:inline-block;
	cursor:pointer;
	transition: all 300ms ease-out; /*safari and chrome */
	-webkit-transition: all 300ms ease-out; /*safari and chrome */
	text-decoration:none;
}

.small-button i{
	padding-right:5px;
	text-decoration:none;
}

.button{
	border-radius:2px;
    background-color: #3498db;
    color: white;
    border: 1px solid #3498db;
    box-shadow: 0px 0px 0px rgba(0,0,0,0.1);
}

.content input[type=submit],
.content button,
.content .normal-button,
.content a.normal-button,
.normal-button,
a.normal-button{
	padding:6px 14px;
	margin-bottom:10px;
	margin-right:10px;
	display:inline-block;
	cursor:pointer;
	transition: all 300ms ease-out; /*safari and chrome */
	-webkit-transition: all 300ms ease-out; /*safari and chrome */
	text-decoration:none;
	border-radius:2px;
}

.normal-button i{
	padding-right:8px;
	text-decoration:none;
}

a.big-button {
	padding:8px 18px;
	margin-bottom:10px;
	margin-right:10px;
	display:inline-block;
	cursor:pointer;
	transition: all 200ms ease-out; /*safari and chrome */
	-webkit-transition: all 200ms ease-out; /*safari and chrome */
	text-decoration:none !important;
}

a.big-button i{
	padding-right:10px;
	text-decoration:none !important;
}

#page-heading{
	position:relative;
	z-index:2;
    border-bottom: 1px solid #e5e5e5;
    border-top: 1px solid #e5e5e5;
    box-shadow: 0px -4px 0px rgba(0,0,0,0.025) inset;
    margin-bottom: 35px;
}

#page-heading .wrap{
	position:relative;
	padding:10px 0px 40px 0px;
	text-align:center;
}


h1#page-title{
	padding:0px 0px;
	margin-bottom:0px;
    font-family: 'Lato',Arial !important;
    font-size: 36px;
    line-height: 48px;
    font-weight: 700;
    text-transform: uppercase;
}

h2#page-subtitle{
	margin:0px 0px 0px 0px;
	padding:0px;
}

.page-heading-subtitle #breadcrumb{
	padding:18px 0px 0px 0px;
}

#page-heading {
    border-bottom: 1px solid #e5e5e5;
    box-shadow: 0px -4px 0px rgba(0,0,0,0.025) inset;
}

#page-heading .wrap {
    position: relative;
    padding: 10px 0px 40px 0px;
    text-align: center;
}

#page-heading-no-border .wrap {
	    position: relative;
    padding: 10px 0px 40px 0px;
}

.caret-remade {
	display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px dashed;
  border-top: 4px solid\9;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}

@media only screen and (-Webkit-min-device-pixel-ratio: 1.5),
only screen and (-moz-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min-device-pixel-ratio: 1.5) {
	.logo-image .logo-normal{
		display:none;
	}
	.logo-image .logo-retina{
		display:block;
	}
}
