@import "~@angular/material/prebuilt-themes/indigo-pink.css";

/*HELPERS*/
.AC {
    text-align: center;
}

.mL15 {
    margin-left: 15px;
}

*, p {
	font-size:16px;
}


.IL {
  display: inline-block;
}
.row {
	margin:0px !important;
}

.has-success {
  border-color: #5cb85c  !important;
}

.has-danger {
  border-color: #d9534f !important;
}

html, body{
  height:100%;
}

 html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;

}

.app-content {
  min-height: 71%;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	-webkit-text-size-adjust: 100%;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body{

}

b,strong{
	font-weight:bold;
}

em{
	font-style:italic;
}

a{
	text-decoration:none;
}

img{
	max-width:100%;
}

*:focus {
    outline: none;
}

/* ignore ios input style */

input,textarea{
    -webkit-appearance: none;
    -webkit-border-radius:0;
    border-radius:0;
}

/* common element */
.cleared{
	clear:both;
}

.center{
	text-align:center;
}

.hidden{
	display:none;
}

/* #Wordpress Style */
.alignleft, img.alignleft {float:left;padding:5px 20px 10px 0px}
.alignright, img.alignright {float:right;padding:5px 0px 10px 20px}
.aligncenter {text-align:center}
img.aligncenter {clear: both; display: block; margin-left: auto; margin-right: auto;}
.alignnone, img.alignnone { }
.wp-caption {}
.wp-caption img { }
.wp-caption p.wp-caption-text { }
.wp-smiley { }

.gallery dl {}
.gallery dt {}
.gallery dd {}
.gallery dl a {}
.gallery dl img {}
.gallery-caption {}
.size-full {}
.size-large {}
.size-medium {}
.size-thumbnail {}

.sticky{}
.bypostauthor{}

.wrap{
	width:1100px;
	margin:0 auto;
}

.no-wrap .wrap-no-fullwidth{
	width:1100px;
	margin:0 auto;
}

.callout-wrap{
	margin:0 auto;
	width:1100px;
}

.no-wrap .content-column1 .quote-block-wrap{
	width:1100px;
	margin:0 auto;
}

.wrap-column{
	width:1140px;
	margin:0 auto;
}

.callout-button{
	vertical-align:4px;
}

/* parent structure */


#background{
	position:relative;
	z-index:1;
	line-height:20px;
	font-size:14px;
	min-width:1140px;
	overflow:hidden;
	width:100%;
}

#page{
	width:100%;
	position:relative;
	margin:0 auto;
}

#page.layout-boxed{
	margin-top:20px;
	margin-bottom:20px;
	width:1180px;
	box-shadow:0px 0px 10px rgba(0,0,0,0.1);
}



#header .wrap{
	position:relative;
}

#header-bar{
	position:relative;
	z-index:4;

}

#body{
	margin:0px auto;
    background-color: #fafafa;
}

.content-page{
	padding-top:50px;
	padding-bottom:50px;
}

/* header */
.site-logo{
	float:left;
	font-size:0px;
	line-height:0px;
}

.site-logo h1{
	padding:0px;
	margin:0px;
	line-height:0px;
	font-size:0px;
}

.site-logo a{
	height:125px;
	display:inline-block;
}

.site-logo img{
	max-height:125px;
	line-height:0px;
	font-size:0px;
	display:inline-block;
}

.logo-image .logo-retina{
	display:none;
}

/* header sidebar */
.header-sidebar{
	float:right;
}

.header-sidebar .widget_text{
	text-align:right;
	padding-top:40px;
}

.header-sidebar .widget_buffercode_banner_upload_info{
	padding-top:12px;
}

.header-widget{
	margin-left:30px;
	float:right;
}

/* menu */
.main-menu{
	float:left;
	position:relative;
}


#toggle-menu-button{
	float:left;
	cursor:pointer;
	text-align:center;
	width:50px;
	display:none;
}

#toggle-menu-button i{
	font-size:18px;
	line-height:50px;
}

#main-menu-toggle{
	padding:10px 0px;
	position:absolute;
	display:none;
	top:50px;
}

#main-menu-toggle a{
	padding:15px 20px;
	display:block;
	transition: all 200ms ease-out; /*safari and chrome */
	-webkit-transition: all 200ms ease-out; /*safari and chrome */
}

.main-menu ul li{
	display:inline-block;
	position: relative;
}

.main-menu ul li a{
	position: relative;
	display:inline-block;
	padding:18px 20px;
	transition: all 200ms ease-out; /*safari and chrome */
	-webkit-transition: all 200ms ease-out; /*safari and chrome */
}

/* sub menu */

.main-menu ul ul {
	text-align:left;
	position: absolute;
	top: 50px;
	left:0px;
	padding:0px 0px;
	width:250px;
	transition: all 200ms ease-out; /*safari and chrome */
	-webkit-transition: all 200ms ease-out; /*safari and chrome */
}

.main-menu ul ul ul{
	position: absolute;
	top:0px;
	left:250px;
	width:250px;
	transition: all 200ms ease-out; /*safari and chrome */
	-webkit-transition: all 200ms ease-out; /*safari and chrome */
}

.main-menu ul ul {
	display:none;
}

.main-menu ul ul ul{
	display:none;
}

.main-menu ul li:hover ul {
	z-index:100;
	display:block;
}

.main-menu ul li:hover ul ul{
	display:none;
}

.main-menu ul li li:hover ul{
	display:block;
}

.main-menu ul li li{
	padding:0px;
	float:none;
	transition: opacity 200ms ease-out; /*safari and chrome */
	-webkit-transition: opacity 200ms ease-out; /*safari and chrome */
	width:100%;
	box-sizing:border-box;
	-moz-box-sizing:border-box; /* Firefox */
	margin-left:0px;
}

.main-menu ul li li a, .main-menu ul li.current-menu-item li a, .main-menu ul li.current-menu-ancestor li a{
	display: block;
	width:100%;
	box-sizing:border-box;
	-moz-box-sizing:border-box; /* Firefox */
	padding:14px 18px 14px 18px;
	position:relative;
}

.main-menu ul li li a{
	-webkit-transition: all 200ms ease-out; /*safari and chrome */
	transition:all 200ms ease-out;
}

/* top social */
.header-social{
	/* float:right; */
	padding-top:10px;
}

.header-social a{
	display:inline-block;
	padding-top:5px;
	width:30px;
	height:25px;
	border-radius:50%;
	text-align:center;
	margin-left:5px;
}

/* scroller header */

#scroll-header{
	width:100%;
	height:60px;
	position:fixed;
	z-index:2001;
	display:none;
	top:0px;
	-webkit-background-clip: padding-box; /* for Safari */
    background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
}

.admin-bar #scroll-header{
	top:32px;
}

#scroll-header .logo-text {
	font-size:24px;
	line-height:60px;
}

#scroll-header .site-logo a{
	height:60px;
	display:inline-block;
}

#scroll-header .site-logo img{
	max-height:60px;
	line-height:0px;
	font-size:0px;
	display:inline-block;
}

#scroll-header .main-menu ul li{
	padding-top:10px;
}

#scroll-header .main-menu ul ul li{
	padding-top:0px;
}

#scroll-header .main-menu ul ul {
	top: 50px;
}

#scroll-header .main-menu ul ul ul{
	top:0px;
}



/* body */
.text-404{
	text-align:center;
}

.homepage-blog{
	padding-top:40px;
	padding-bottom:40px;
}

/* page */
.page-entry-thumb{
	margin-bottom:25px;
}

/* search page */
.top-search-form{
	padding:50px 50px 50px 50px;
	margin-bottom:50px;
	text-align:center;
}

/* page builder */
.content-section{
	position:relative;
	overflow:hidden;

}

.content-section .wrap,.content-section .wrap-column{
	position:relative;
	z-index:3;
}

.content-section-line span {
    background-color: rgba(0,0,0,0.025);
    border-bottom: 1px solid rgba(0,0,0,0.1);
    border-top: 1px solid rgba(0,0,0,0.1);
}

.align-center{
	text-align:center;
}

.top-spacing-big{
	padding-top:80px;
}

.top-spacing-small{
	padding-top:60px;
}

.bottom-spacing-big{
	padding-bottom:80px;
}

.bottom-spacing-small{
	padding-bottom:60px;
}

.content-section-heading{
	margin:40px;
	text-align:center;
}

.title-spacing-small .content-section-heading{
	margin-bottom:30px;
}

h1.content-section-title{
	margin:0px 0px 0px 0px;
	padding:0px 0px 10px 0px;
	font-weight:auto;
}


h2.content-section-subtitle{
	padding:0px 0px 0px 0px;
	margin:0px 0px 5px 0px;
    font-family: 'PT Serif',Arial !important;
    font-size: 24px;
    line-height: 30px;
    font-weight: 400;
    font-style: italic;
}

.section-widget-heading{
	margin-bottom:0px;
}

.content-section-line{
	text-align:center;
}

.content-section-line span{
	display:inline-block;
	width:200px;
	height:4px;
}

.widget-entry{
	margin-bottom:20px;
}

.content-section .widget-entry:last-child{
	margin-bottom:0px;
}


h2.section-widget-title{
	margin:0px;
	padding:0px 0px 25px 0px;
}

.big-column-pagebuilder .wrap-column{
	width:auto;
	padding:0px 0px;
}

/* content box*/


/* callout */

.callout{
	text-align:center;
}

.callout-inside{
	padding:30px 25px;
}

.no-wrap .callout-inside{
	padding:40px 25px;
}

h2.callout-content{

	margin:0px;
	padding:0px;
}

.callout-button-span{
	margin-left:30px;
	display:inline-block;
}


.content a.button.callout-button{
	margin-bottom:0px;
}


/* icon box */
.icon-box{
	margin-bottom:40px;
}

.icon-box-center{
	text-align:center;
}

.icon-box-horizontal.icon-box-center{
	text-align:left;
}

.icon-type-font,.icon-type-font i , .icon-box-link a{
	transition: all 200ms ease-out; /*safari and chrome */
	-webkit-transition: all 200ms ease-out; /*safari and chrome */
}

.icon-box-name{
	margin-bottom:15px;
}

.icon-box-content p:last-child{
	padding-bottom:0px;
}

.icon-box-link a {
    font-family: 'Lato',Arial !important;
    font-size: 14px;
    line-height: 24px;
	padding: 7px 30px;
	border-radius: 5px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
}

.icon-box-link a {
    background-color: #3498db;
    color: white;
    border: 1px solid #3498db;
    box-shadow: 0px 0px 0px rgba(0,0,0,0.1);
}

.icon-box-link a:hover {
    background-color: #3498db;
    color: white;
    border: 1px solid #3498db;
    box-shadow: 0px 0px 0px rgba(0,0,0,0.1);
	text-decoration: none;
}

/* icon type image */
.icon-box-icon .icon-type-image{
	padding:0px;
	width:auto !important;
	height:auto !important;
}

.icon-box-icon .icon-type-image img{

}

.icon-box-name .icon-type-image{
	padding:0px;
	max-width:28px;
	width:28px !important;
	height:28px !important;
	vertical-align:-6px;
	margin-right:5px;
}

.icon-box-name .icon-type-image img{
	max-width:28px;
}

/* image hover retina icon */

.icon-box-icon .icon-box-image,
.icon-box-name .icon-box-image{
	display:inline-block;
}

.icon-box-icon .icon-box-image-hover,
.icon-box-name .icon-box-image-hover{
	display:none;
}

.icon-box-icon:hover .icon-box-image-hover,
.icon-box-name:hover .icon-box-image-hover{
	display:inline-block;
}

.icon-box-icon:hover .icon-box-image,
.icon-box-name:hover .icon-box-image{
	display:none;
}

/* icon size big */
.icon-box-icon{
	line-height:0px;
	font-size:0px;
}

.icon-box-icon .icon-type-font,
.icon-box-icon .icon-type-image{
	margin-bottom:25px;
}

.icon-type-font{
	border-radius:50%;
	display:inline-block;
	text-align:center;
}

.icon-type-font i{
	font-size:30px;
	line-height:80px;
	display:inline-block;
	width:78px;
	height:78px;
	text-align:center;
	border-radius:50%;
}

/* icon size small */

.icon-box-name .icon-type-font{
	display:inline-block;
	text-align:center;
	margin-right:5px;
	border-radius:50%;
}

.icon-box-name i{
	font-size:14px;
	line-height:24px;
	width:24px;
	height:24px;
	padding-left:0px;
}

/* icon vertical */
.icon-box-left{
	width:50px;
	float:left;
	padding-top:5px;
}

.icon-box-left .icon-box-icon{
	width:50px;
	float:left;

}


.icon-box-left .icon-type-font i{
	font-size:24px;
	line-height:50px;
	display:inline-block;
	width:48px;
	height:48px;
	text-align:center;
	border-radius:50%;
}

.icon-box-right{
	margin-left:50px;
	padding-left:25px;
}

.icon-box-left .icon-box-icon{
	margin-bottom:0px;
}

.icon-box-horizontal{
	margin-bottom:30px;

}


/* logo partner */
.logo_column{
	box-sizing:border-box;
	-moz-box-sizing:border-box; /* Firefox */
	transition: all 200ms ease-out; /*safari and chrome */
	-webkit-transition: all 200ms ease-out; /*safari and chrome */
}

.logo_image{
	text-align:center;
	position:relative;
	transition: all 200ms ease-out; /*safari and chrome */
	-webkit-transition: all 200ms ease-out; /*safari and chrome */
}

.logo_image,.logo_image a{
	line-height:0px;
	font-size:0px;
}


.logo-column-box{
	width:100%;
	position:relative;
	height:100%;
	text-align:center;
}


/* info box */
.info-box{
	position:relative;
	padding:20px 60px 20px 30px;
	margin-bottom:25px;
	transition: all 200ms ease-out; /*safari and chrome */
	-webkit-transition: all 200ms ease-out; /*safari and chrome */
	border-radius:2px;
}

.info-box p:last-child{
	padding-bottom:0px;
}

.info-box-remove{
	position:absolute;
	right:20px;
	top:20px;
	width:30px;
	height:30px;
	text-align:center;
	transition: all 200ms ease-out; /*safari and chrome */
	-webkit-transition: all 200ms ease-out; /*safari and chrome */
	cursor:pointer;
	border-radius:50%;
}

.info-box-remove i{
	font-size:14px;
	line-height:30px;
}

/* google map */
.wrap-column .fullable-column{
	padding:0px 10px;
}

.google-map-container{

}

.google-map-container iframe{
	width: 100%;
	height:100%;
}

.google-map-container small{
	display:none;
}


/* typography */
pre{
	padding:10px 20px;
    white-space: pre-wrap;       /* CSS 3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}


blockquote{
	margin:0px 0px 20px 0px;
	padding:10px 0px 10px 65px;
	position:relative;
}

blockquote i.fa{
	position:absolute;
	left:0px;
	top:50%;
	margin-top:-24px;
	width:48px;
	height:48px;
	border-radius:50%;
	text-align:center;
}

blockquote p:last-child{
	padding-bottom:0px;
}

/* button */
.content .small-button,
.content a.small-button{
	padding:6px 10px;
	margin-bottom:10px;
	margin-right:10px;
	display:inline-block;
	cursor:pointer;
	transition: all 300ms ease-out; /*safari and chrome */
	-webkit-transition: all 300ms ease-out; /*safari and chrome */
	text-decoration:none;
}

.small-button i{
	padding-right:5px;
	text-decoration:none;
}

.button{
	border-radius:2px;
    background-color: #3498db;
    color: white;
    border: 1px solid #3498db;
    box-shadow: 0px 0px 0px rgba(0,0,0,0.1);
}

.content input[type=submit],
.content button,
.content .normal-button,
.content a.normal-button,
.normal-button,
a.normal-button{
	padding:6px 14px;
	margin-bottom:10px;
	margin-right:10px;
	display:inline-block;
	cursor:pointer;
	transition: all 300ms ease-out; /*safari and chrome */
	-webkit-transition: all 300ms ease-out; /*safari and chrome */
	text-decoration:none;
	border-radius:2px;
}

.normal-button i{
	padding-right:8px;
	text-decoration:none;
}

a.big-button {
	padding:8px 18px;
	margin-bottom:10px;
	margin-right:10px;
	display:inline-block;
	cursor:pointer;
	transition: all 200ms ease-out; /*safari and chrome */
	-webkit-transition: all 200ms ease-out; /*safari and chrome */
	text-decoration:none !important;
}

a.big-button i{
	padding-right:10px;
	text-decoration:none !important;
}

/* inner page */

.error404 .full-column{

}

#page-heading{
	position:relative;
	z-index:2;
    border-bottom: 1px solid #e5e5e5;
    border-top: 1px solid #e5e5e5;
    box-shadow: 0px -4px 0px rgba(0,0,0,0.025) inset;
    margin-bottom: 35px;
}

#page-heading .wrap{
	position:relative;
	padding:10px 0px 40px 0px;
	text-align:center;
}


h1#page-title{
	padding:0px 0px;
	margin-bottom:0px;
    font-family: 'Lato',Arial !important;
    font-size: 36px;
    line-height: 48px;
    font-weight: 700;
    text-transform: uppercase;
}

h2#page-subtitle{
	margin:0px 0px 0px 0px;
	padding:0px;
}

.page-heading-subtitle #breadcrumb{
	padding:18px 0px 0px 0px;
}


/* portfolio page */
#portfolio-section-des{
	padding-bottom:48px;
}

/* portfolio single */
.portfolio-single-container{
	margin-bottom:50px;
}

.portfolio-single-media{
	line-height:0px;
}

.portfolio-single-data{

}

.portfolio-single-navigation{
	padding:15px 30px 15px 30px;
}

.portfolio-single-navigation{
	padding:15px 30px 15px 30px;
}

.portfolio-single-navigation a{
	display:inline-block;
	border-radius:15px;
	padding:5px 15px;
}


.portfolio-single-navigation-left{
	float:left;
}

.portfolio-single-navigation-right{
	float:right;
}

.portfolio-big-column{
	width:65%;
	box-sizing:border-box;
	-moz-box-sizing:border-box; /* Firefox */

}

.portfolio-small-column{
	width:35%;
	box-sizing:border-box;
	-moz-box-sizing:border-box; /* Firefox */
}


.portfolio-single-right .portfolio-small-column{
	padding-right:0px !important;
}

.portfolio-single-right .portfolio-big-column{
	padding-left:50px !important;
}

.portfolio-data-left{
	float:left;
	width:75%;
	padding-right:50px !important;
	box-sizing:border-box;
	-moz-box-sizing:border-box; /* Firefox */
	padding-bottom:0px;
}

.portfolio-data-right{
	float:left;
	width:25%;
	box-sizing:border-box;
	-moz-box-sizing:border-box; /* Firefox */
}

.portfolio-single-left .portfolio-single-content,
.portfolio-single-right .portfolio-single-content{

}

.portfolio-single-content{
	padding:25px 30px 25px 30px;
}

.portfolio-single-content p:last-child{
	padding-bottom:0px;
}


.portfolio-single-detail{
	box-sizing:border-box;
	-moz-box-sizing:border-box; /* Firefox */
}

.portfolio-single-detail p:empty{
	display:none;
}

.portfolio-single-detail p:last-child{
	padding-bottom:0px;
}

.portfolio-single-detail a.button,
.portfolio-single-detail a.small-button,
.portfolio-single-detail a.big-button{
	margin-bottom:0px;
	margin-top:5px;
}

.portfolio-single-detail-entry{
	padding:0px 0px 20px 0px;
}

.portfolio-single-share{
	padding:30px 30px 25px 30px;
}

.portfolio-single-pagination{
	margin-bottom:30px;
}

.portfolio-relatives{
	padding:50px 0px 25px 0px;
}

.portfolio-relatives .portfolio-cell{
	margin-bottom:0px;
}



.portfolio-relative-title{
	text-align:center;
}

.portfolio-relative-title .title_label{
	padding-bottom:15px;
}

.portfolio_relative_column{
	float:left;
	width:25%;
	box-sizing:border-box;
	-moz-box-sizing:border-box; /* Firefox */

}

.portfolio_relative_column .portfolio-cell{
	margin-bottom:0px;
}

/* footer */
#footer{
	position:relative;
    border-top: 1px solid #e5e5e5;
    box-shadow: 0px 4px 0px rgba(0,0,0,0.025) inset;
    background-color: #fafafa;
}

#footer-widget-container{
	padding:0px 0px;
}

.footer-column{
	padding-top:60px;
	padding-bottom:60px;
}

.footer-widget{
	padding-bottom:60px;
}

.footer-widget:last-child{
	padding-bottom:0px;
}

.footer-widget-title{
	margin-bottom:20px;
	position:relative;
}


.footer-widget a{
	transition: all 200ms ease-out; /*safari and chrome */
	-webkit-transition: all 200ms ease-out; /*safari and chrome */
}

.footer-widget ul{
	margin:0px;
	padding:0px;
}

.footer-widget ul li:first-child{
	padding-top:0px;
}

.footer-widget ul ul li:first-child{
	padding-top:6px;
}

.footer-widget ul li:last-child{
	border-bottom:0px;
	padding-bottom:0px;
}

.footer-widget ul li{
	list-style-type:none;
	padding:6px 0px 6px 0px;
}



#footer-bottom{
	position:relative;
	padding:30px 0px 30px 0px;
	z-index:3;
    font-size: 12px;
    line-height: 20px;
    font-family: 'Lato',Arial !important;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 1px;
}

#footer-copyright{
	float:left;

}

#footer-right {
	float:right;
}

#footer-right a{
	margin-left:20px;
    color: #808080;
}

#page-heading {
    border-bottom: 1px solid #e5e5e5;
    box-shadow: 0px -4px 0px rgba(0,0,0,0.025) inset;
}

#page-heading .wrap {
    position: relative;
    padding: 10px 0px 40px 0px;
    text-align: center;
}

#page-heading-no-border .wrap {
	    position: relative;
    padding: 10px 0px 40px 0px;
}

.panel.panel-default.accordion-panel {
    margin-bottom: 0px;
}

 .panel-title {
    display: block;
    cursor: pointer;
    position: relative;
    margin: 2px 0 0 0;
    padding: .5em .5em .5em .7em;
    min-height: 0;
    font-size: 100%;
	color: #999999;
    /*background-color: white;*/
    /*border: 1px solid rgba(0,0,0,0.15);*/
    box-shadow: 0px 4px 0px rgba(0,0,0,0.025);
	line-height: 28px;
    font-family: 'Lato',Arial !important;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.panel-title:hover {
	color: #4c4c4c;
}

.panel-body {
    font-size: 18px;
    line-height: 24px;
    font-family: 'Open Sans',Arial !important;
}

.caret {
	float:right;
}




@media only screen and (-Webkit-min-device-pixel-ratio: 1.5),
only screen and (-moz-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min-device-pixel-ratio: 1.5) {
	.logo-image .logo-normal{
		display:none;
	}
	.logo-image .logo-retina{
		display:block;
	}
}
