
<!-- HOME SLIDER -->
<!-- <app-carousel></app-carousel> -->
<app-gallery-carousel [myImages]="myImages" homeSlider="true"></app-gallery-carousel> 

<!-- WHY US -->
<div class="content-section-heading">
  <h1 class="content-section-title">
    <span>Why Orange County Music School?</span>
  </h1>
  <div class="content-section-line">
    <span>
    </span>
  </div>
</div>
<!-- WHY US  CONTENT-->
<div class="container">
  <div class="row">
    <div class="col-lg-3">
      <div class="icon-box icon-box-center widget-element-bottom">
        <div class="icon-box-icon">
        <span class="icon-type-image">						
          <img class="icon-box-image" src="../assets/img/calendar.png" />
          <img class="icon-box-image-hover" src="../assets/img/calendar.png" />
        </span>					
        </div>
        <div class="icon-box-name">
          Simple/Easy																
        </div>
        <div class="icon-box-content">
          <p>
          We know your schedule is packed.&nbsp;Our teachers come to you making life that much easier. Music lessons can also be in studio, or you can study with one of our amazing NYC teachers from anywhere in the country with an on-line lesson.
          </p>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
       <div class="icon-box icon-box-center widget-element-bottom">
        <div class="icon-box-icon">
        <span class="icon-type-image">						
          <img class="icon-box-image" src="../assets/img/calendar.png" />
          <img class="icon-box-image-hover" src="../assets/img/calendar.png" />
        </span>					
        </div>
        <div class="icon-box-name">
          Skilled Teachers																
        </div>
        <div class="icon-box-content">
          <p>
          The brightest, coolest, most talented music teachers in NYC, inspiring students to love, play and create music.  They will come up with a learning plan to meet the needs of any student no matter what age or skill level. 
          </p>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
       <div class="icon-box icon-box-center widget-element-bottom">
        <div class="icon-box-icon">
        <span class="icon-type-image">						
          <img class="icon-box-image" src="../assets/img/calendar.png" />
          <img class="icon-box-image-hover" src="../assets/img/calendar.png" />
        </span>					
        </div>
        <div class="icon-box-name">
          SERVICE															
        </div>
        <div class="icon-box-content">
          <p>
          Orange County Music School is a ....
          </p>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="icon-box icon-box-center widget-element-bottom">
        <div class="icon-box-icon">
        <span class="icon-type-image">						
          <img class="icon-box-image" src="../assets/img/calendar.png" />
          <img class="icon-box-image-hover" src="../assets/img/calendar.png" />
        </span>					
        </div>
        <div class="icon-box-name">
          GUARANTEE															
        </div>
        <div class="icon-box-content">
          <p>
           We’re so confident in our service that we promise if your teacher isn’t the perfect fit we will match you with another instructor or refund any unused payments.  You’re never tied into a contract and there are no hidden registration fees!
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- LEARN TO PLAY -->
<div class="content-section-heading">
  <h1 class="content-section-title">
    <span>Learn To Play</span>
  </h1>
  <div class="content-section-line">
    <span>
    </span>
  </div>
</div>
<!-- LEARN TO PLAY  CONTENT -->
<div class="container">
  <!-- ROW 1 -->
  <div class="row">
    <div class="col-lg-3">
      <div class="icon-box icon-box-center ">
        <div class="icon-box-icon">
          <a routerLink="/signup/piano">						
            <img class="icon-box-image" src="../assets/img/LTP_Piano.jpg">
            <img class="icon-box-image-hover" src="../assets/img/LTP_Piano.jpg">
          </a>					
        </div>
        <div class="icon-box-name">
        </div>
        <div class="icon-box-content">
        </div>
        <div class="icon-box-link">
           <a routerLink="/signup/piano">	
            PIANO					
          </a>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="icon-box icon-box-center ">
        <div class="icon-box-icon">
          <a routerLink="/signup/guitar">						
            <img class="icon-box-image" src="../assets/img/LTP_Guitar.jpg">
            <img class="icon-box-image-hover" src="../assets/img/LTP_Guitar.jpg">
          </a>					
        </div>
        <div class="icon-box-name">
        </div>
        <div class="icon-box-content">
        </div>
        <div class="icon-box-link">
           <a routerLink="/signup/guitar">	
            Guitar					
          </a>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="icon-box icon-box-center ">
        <div class="icon-box-icon">
          <a routerLink="/signup/Violin">						
            <img class="icon-box-image" src="../assets/img/LTP_Violin.jpg">
            <img class="icon-box-image-hover" src="../assets/img/LTP_Violin.jpg">
          </a>					
        </div>
        <div class="icon-box-name">
        </div>
        <div class="icon-box-content">
        </div>
        <div class="icon-box-link">
           <a routerLink="/signup/Violin">	
            Violin					
          </a>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="icon-box icon-box-center ">
        <div class="icon-box-icon">
          <a routerLink="/signup/Singing">						
            <img class="icon-box-image" src="../assets/img/LTP_Sing.jpg">
            <img class="icon-box-image-hover" src="../assets/img/LTP_Sing.jpg">
          </a>					
        </div>
        <div class="icon-box-name">
        </div>
        <div class="icon-box-content">
        </div>
        <div class="icon-box-link">
           <a routerLink="/signup/Singing">	
            Singing					
          </a>
        </div>
      </div>
    </div>
  </div>
   <!-- ROW 2 -->
  <div class="row">
    <div class="col-lg-3">
      <div class="icon-box icon-box-center ">
        <div class="icon-box-icon">
          <a routerLink="/signup/Clarinet">						
            <img class="icon-box-image" src="../assets/img/LTP_Clarinet.jpg">
            <img class="icon-box-image-hover" src="../assets/img/LTP_Clarinet.jpg">
          </a>					
        </div>
        <div class="icon-box-name">
        </div>
        <div class="icon-box-content">
        </div>
        <div class="icon-box-link">
           <a routerLink="/signup/Clarinet">	
            Clarinet					
          </a>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="icon-box icon-box-center ">
        <div class="icon-box-icon">
          <a routerLink="/signup/Drums">						
            <img class="icon-box-image" src="../assets/img/LTP_Drums.jpg">
            <img class="icon-box-image-hover" src="../assets/img/LTP_Drums.jpg">
          </a>					
        </div>
        <div class="icon-box-name">
        </div>
        <div class="icon-box-content">
        </div>
        <div class="icon-box-link">
           <a routerLink="/signup/Drums">	
            Drums					
          </a>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="icon-box icon-box-center ">
        <div class="icon-box-icon">
          <a routerLink="/signup/Bass">						
            <img class="icon-box-image" src="../assets/img/LTP_Bass.jpg">
            <img class="icon-box-image-hover" src="../assets/img/LTP_Bass.jpg">
          </a>					
        </div>
        <div class="icon-box-name">
        </div>
        <div class="icon-box-content">
        </div>
        <div class="icon-box-link">
           <a routerLink="/signup/Bass">	
            Bass					
          </a>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="icon-box icon-box-center ">
        <div class="icon-box-icon">
          <a routerLink="/signup/Saxophone">						
            <img class="icon-box-image" src="../assets/img/LTP_Saxophone.jpg">
            <img class="icon-box-image-hover" src="../assets/img/LTP_Saxophone.jpg">
          </a>					
        </div>
        <div class="icon-box-name">
        </div>
        <div class="icon-box-content">
        </div>
        <div class="icon-box-link">
           <a routerLink="/signup/Saxophone">	
            Saxophone					
          </a>
        </div>
      </div>
    </div>
  </div>
   <!-- ROW 3 -->
  <div class="row">
    <div class="col-lg-3">
      <div class="icon-box icon-box-center ">
        <div class="icon-box-icon">
          <a routerLink="/signup/Flute">						
            <img class="icon-box-image" src="../assets/img/LTP_Flute.jpg">
            <img class="icon-box-image-hover" src="../assets/img/LTP_Flute.jpg">
          </a>					
        </div>
        <div class="icon-box-name">
        </div>
        <div class="icon-box-content">
        </div>
        <div class="icon-box-link">
           <a routerLink="/signup/Flute">	
            Flute					
          </a>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="icon-box icon-box-center ">
        <div class="icon-box-icon">
          <a routerLink="/signup/Cello">						
            <img class="icon-box-image" src="../assets/img/LTP_Cello.jpg">
            <img class="icon-box-image-hover" src="../assets/img/LTP_Cello.jpg">
          </a>					
        </div>
        <div class="icon-box-name">
        </div>
        <div class="icon-box-content">
        </div>
        <div class="icon-box-link">
           <a routerLink="/signup/Cello">	
            Cello					
          </a>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="icon-box icon-box-center ">
        <div class="icon-box-icon">
          <a routerLink="/signup/Trumpet">						
            <img class="icon-box-image" src="../assets/img/LTP_Trumpet.jpg">
            <img class="icon-box-image-hover" src="../assets/img/LTP_Trumpet.jpg">
          </a>					
        </div>
        <div class="icon-box-name">
        </div>
        <div class="icon-box-content">
        </div>
        <div class="icon-box-link">
           <a routerLink="/signup/Trumpet">	
            Trumpet					
          </a>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="icon-box icon-box-center ">
        <div class="icon-box-icon">
          <a routerLink="/signup/Ukulele">						
            <img class="icon-box-image" src="../assets/img/LTP_Ukulele.jpg">
            <img class="icon-box-image-hover" src="../assets/img/LTP_Ukulele.jpg">
          </a>					
        </div>
        <div class="icon-box-name">
        </div>
        <div class="icon-box-content">
        </div>
        <div class="icon-box-link">
           <a routerLink="/signup/Ukulele">	
            Ukulele					
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- TESTIMONIALS -->
<div class="content-section-heading">
  <h2 class="content-section-subtitle">
		<span class="title-point"></span>
    Testimonials										
  </h2>
  <h1 class="content-section-title">
    <span>Hear What They're Saying</span>
  </h1>
  <div class="content-section-line">
    <span>
      
    </span>
  </div>
</div>
<!-- TESTIMONIALS -->
<div class="quote-block bg-color">
  <div class="container no-wrap">
    <div class="quote-block-inside">
      <div class="quote-block-wrap">
      <div class="quote-block-content">
        <p>‘Wonderful Teachers That Create A Flexible Environment and make every minute count.”</p>
      </div>
      <div class="quote-block-bottom">
        <span class="quote-block-author">
          <span class="quote-block-icon">
            <i class="fa fa-quote-left"></i>
          </span>
        Sue E.																	</span>
      </div>
      </div>
    </div>
  </div>
</div>

<div class="row" style="padding: 10px 15px;">
  <div class="col-lg-6" *ngFor="let test of testimonials | async">
    <div class="testimonials">
      <div class="testimonials-content">
        <span class="testimonials-arrow"></span>
        <p innerHtml="{{test.text}}"></p>
      </div>
      <div class="testimonials-author">
        <div class="testimonials-image">
            <img alt="testimonial author" src="../assets/img/5stars.png"> 
        </div>
        <div class="testimonials-author-name">{{test.author}}</div>
        <div class="testimonials-author-info content"></div>
        <div class="cleared"></div>
      </div>
    </div>
  </div>
</div>

<!-- TEACHERS -->
<div class="content-section-heading">
  <h2 class="content-section-subtitle">
		<span class="title-point"></span>
    Our Team										
  </h2>
  <h1 class="content-section-title">
    <span>Hear What They're Saying</span>
  </h1>
  <div class="content-section-line">
    <span>
      
    </span>
  </div>
</div>
<!-- TEACHERS -->
<div class="row">
  <div class="col-lg-3" *ngFor="let teacher of teachers | async">
    <div class="portfolio-cell ">
      <div class="portfolio-cell-thumb">
        <div class="portfolio-cell-bg"></div>
        <a class="portfolio-cell-view" routerLink="/teachers/{{teacher.id}}">
          <i class="fa fa-eye"></i>
        </a>
        <a routerLink="/teachers/1">
          <img src="../assets/img/teachers/{{teacher.imgName}}.jpg" class="attachment-thumb-cell-small size-thumb-cell-small wp-post-image" alt="">																								
        </a>
      </div>
      <div class="portfolio-cell-data">
        <div class="portfolio-cell-title">
          <a routerLink="/teachers/1">{{teacher.name}}</a>
        </div>
        <div class="portfolio-cell-categories"><a routerLink="/instrument/{{teacher.instrument}}">{{teacher.instrument}}</a></div>
      </div>
    </div>		
  </div>
</div>

<div class="container" style="text-align:center;">
  <a class="button big-button 1bbc9b-button" routerLink="/teachers"><i class="fa fa fa-ok"></i>See More Teachers</a>
</div>