<div class="message-container IL" *ngFor="let msg of mailMessages | async">
  <div class="contact-info">
    <div class="message-email">
        <span class="message-info">Email</span>: {{ msg.email }}
    </div>
    <div class="message-phone">
        <span class="message-info">Phone</span>: {{ msg.phone }}
    </div>
    <div class="message-date">
        <span class="message-info">Date</span>: {{ msg.date }}
    </div>
  </div>
  <div class="message-text">
      {{ msg.message }}
  </div>
  <div class="info-bottom">
      <div class="message-from">
          <span class="message-info">From</span>: {{ msg.name }}
      </div>
      <div class="message-read" (click)="readClicked($event, msg)">
        <!-- <div class="message-read" (click)="msg.read = !msg.read"> -->
          <span class="message-info">Read</span>: {{ msg.read == false ? "No" : "Yes" }}
      </div>
  </div>
  
</div>